<div class="question-index-wrapper">
  <div class="container" %>
    <% @question.each do |question| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="question-index-single">
            <p class="question-author">
              <%= link_to question.user.name , user_path(question.user_id) %>
            </p>
            <p class= "question-category">
              <%= question.category.category %>
            </p>
            <div class= "question-text">
              <%= simple_format(question.question) %>
            </div>
            <div class= "details">
              <%= link_to '詳細', question_path(question.id), class: 'btn btn-block btn-white' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>