<div class="favorite-index-wrapper">
  <div class="container">
    <div class="explanation">
      <h1>いいね一覧</h1>
    </div>
    <% @favorite_answers.each do |answer| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="favorite-index-single">
          <p class="favorite-author">
            <%= link_to answer.user.name ,user_path(answer.user_id) %>
          </p>
          <div class="favorite-answer-text">
            <%= simple_format(answer.answer) %>
          </div>
          <div class="details">
            <%= link_to '詳細', question_path(answer.question_id), class: 'btn btn-block btn-white' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>