<div class="top-hero-wrapper text-center">
  <div class="bg">
   <div class="container top-hero-container">
    <div class="row">
      <div class="black">
        <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-user' %>
      </div>
      <div class="black">
        <%= link_to 'アカウント作成', new_user_path,class: 'btn btn-block btn-session' %>
      </div>
    </div>
   </div>
  </div>
</div>