body {
  width: 100vw;
  height: 100vh;
  background-image: url('answer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('question.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    
  }
  
  .bg::before {
    content: ' ';
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
 
.top-hero-container {
  position: absolute;
  padding-top: 130px;
  font-family: ヒラギノ丸ゴ ProN;
  
  h1 {
    font-size: 60px;
    color: #FFF;
    margin-left: 250px;
  }
  .row {

  h3 {
    font-size: 30px;
    color: #FFF; 
    margin-top: 80px;
    margin-left: 420px;
  }
 }
}

.btn-session {
  color: #FFF;
  border: 1px solid #FFF;
  width: 400px;
  padding: 15px;
  margin-top: 300px;
  margin-right: 0px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.5);
  float: right;

  &:hover {
    color: #AAAAAA;
    border: 1px solid #888888;
  }
}

.btn-user {
  color: #FFF;
  border: 1px solid #FFF;
  width: 400px;
  margin-top: 300px;
  margin-left: 250px;
  padding: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.5);
  float: left;

  &:hover {
    color: #AAAAAA;
    border: 1px solid #888888;
  }
}


.form-control {
  height: 45px;
}

.users-new-wrapper {
  

  .users-new-container {
    padding-top: 130px;
    font-family: ヒラギノ丸ゴ ProN;
    
    h1 {
    font-size: 40px;
    color: #FFF;
  }
    
    .form-group {
      margin-bottom: 20px;
      color: #FFF;
    }
    
    .btn-white { 
     height: 40px;
     font-size: 18px;
     margin-top: 30px;
     margin-bottom: 20px;
     background-color: rgba(0,0,0,0.2);
     color: #FFF;
      &:hover {
       color: #C0C0C0;
       border: 1px solid #888888;
       background-color: rgba(0,0,0,0.2);
      }
    }
  }
}

.btn-white {
  height: 40px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
  &:hover {
    color: #333333;
    border: 1px solid #888888;
    background-color: #EEEEEE;
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  height: 60px;
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0.8);
  a {
    color: #111111 !important;
  }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
    font-family: ヒラギノ丸ゴ ProN;
    color: #FFF;
  }  
  
  h1 {
    position: absolute;
    font-family: ヒラギノ丸ゴ ProN;
    color: #111111;
    padding: 0px;
    margin-top: 0px;
    margin-left: 420px;
    font-size: 60px;
  }
  
  img {
    height: 35px;
    width: 35px;
    margin-left: 20px;
  }
}


.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  
  &:hover {
    color: #565656;
    background-color: #B0E0E6; 
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  
  &:hover {
    color: #565656;
    background-color: #C0C0C0; 
  }
}

.question-new-wrapper {
  padding-top: 120px;
  padding-bottom: 450px;
  
  .category {
    color: #FFF;
  }
}

.question-index-wrapper {
  padding-top: 70px;
  .question-index-single {
    background-color: rgba(255,255,255,0.9);
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .question-author {
      font-size: 25px;
      color: blue;
      padding-left: 20px;
    }
    
    .question-category {
      margin-left: 20px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
      border: 1px solid #000000;
    }
    
    .question-text {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.question-show-wrapper {
  margin-bottom: 0px;
  
  img {
      margin-top: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
      height: 40px;
      width: 40px;
    }
  .question-index-single {
    background-color: #FFF;
    margin-top: 100px;
    border: 2px solid #0000CC;
    border-radius: 3px;
    .question-author {
      font-size: 25px;
      color: blue;
      padding-left: 20px;
    }
    
    .question-category {
      margin-left: 20px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
      border: 1px solid #000000;
    }
    
    .question-text {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  
  .question-answer {
    background-color: #FFF;
    margin-top: 30px;
    border: 2px solid #0000CC;
    border-radius: 3px;
    
    .answer-author {
      font-size: 25px;
      color: blue;
      padding-left: 20px;
    }
    .answer-text {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}



  .answer-new-wrapper {
    padding-top: 120px;
    padding-bottom: 450px;
  
    .question-text {
      padding: 20px;
      margin: 40px;
      background-color: #DDDDDD;
      border: 1px solid black;
    }
  }


.user-show-wrapper {
  padding-top: 70px;
  .user-show-single {
    color: black;
    
    .user-show-container {
      background-color: #CCCCCC;
      padding-left: 20px;
      padding-bottom: 3px;
      margin-bottom: 40px;
      border: 4px solid #111111;
    }
    h4 {
      color: #FFF;
    }
    
    .user-name {
      margin-top: 5px;
      margin-bottom: 60px;
      font-size: 30px;
    }
    
    .follow-index {
      margin-bottom: 40px;
    }
    
    .follow-button {
      width: 300px;
    
    }
    
    .favorite-index {
      margin-bottom: 20px;
    }
    
    .question-index {
      float: left;
    
    .my-question {
      width: 500px;
      background-color: rgba(255,255,255,0.9);
      margin-top: 30px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;
    
    .user-question-category {
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 20px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
      border: 1px solid #000000;
    }
    
    .user-question {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    }
    }
    
    .answer-index {
     float: right;
    
    .my-answer {
      width: 500px;
      background-color: rgba(255,255,255,0.9);
      margin-top: 30px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;
    }
    
    .user-answer {
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
    }
    }
  }
}

.user-show-follow-wrapper {
  .user_info {
    margin-top: 60px;
    margin-left: 60px;
    color: #FFF;
  }
  
  .following-index {
    background-color: rgba(255,255,255,0.9);
    margin-top: 30px;
    margin-left: 300px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    float: left;
    
    h3 {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 40px;
    color: #111111;
    }
    
    .following-container {
    background-color: #CCCCCC;
    padding-left: 20px;
    margin-bottom: 10px;
    }
  }
  
  .follower-index {
    background-color: rgba(255,255,255,0.9);
    margin-top: 30px;
    margin-right: 300px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    float: right;
    
    h3 {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 40px;
    color: #111111;
    }
    .follower-container {
    background-color: #CCCCCC;
    padding-left: 20px;
    margin-bottom: 10px;
    }
  }
}

.favorite-index-wrapper {
  padding-top: 70px;


  .favorite-index-single {
    background-color: rgba(255,255,255,0.9);
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    .favorite-author {
      font-size: 25px;
      color: blue;
      padding-left: 20px;
    }
    
    .favorite-answer-text {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

